<body class="products index"><noscript><iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-WCTKWKD" style="display:none;visibility:hidden" width="0"></iframe></noscript><noscript><iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-W25LN4" style="display:none;visibility:hidden" width="0"></iframe></noscript>
  {% render 'parts/header.liquid', schemas: schemas %}
  <div class="page">
    {{ content }}
  </div>
  {{ extra }}
  {% render 'parts/footer.liquid', schemas: schemas %}
</body>