<header class="main-header">
  <div class="flex-container">
    <div class="main-logo">
      <img src="http://placehold.it/200x64/faefe3/000000/?text=[LOGO 200 * 64]">
    </div>
    <div class="flex1"></div>
    <nav class="main-nav">
      <div class="main-nav-item">
        <span class="nav-item-title">客製花束</span>
        <span class="nav-item-subtitle">Customization</span>
      </div>
      <div class="main-nav-item">
        <span class="nav-item-title">花藝課程</span>
        <span class="nav-item-subtitle">Course</span>
      </div>
      <div class="main-nav-item">
        <span class="nav-item-title">雙週花訂閱</span>
        <span class="nav-item-subtitle">Biweekly Bouquet</span>
      </div>
      <div class="main-nav-item">
        <span class="nav-item-title">商品</span>
        <span class="nav-item-subtitle">Shop</span>
      </div>
      <div class="main-nav-item">
        <span class="nav-item-title">記事</span>
        <span class="nav-item-subtitle">Blog</span>
      </div>
      <div class="main-nav-item">
        <span class="nav-item-title">常見問題</span>
        <span class="nav-item-subtitle">FAQ</span>
      </div>
    </nav>
    <div class="flex1"></div>
    <div class="before-sub-nav"></div>
    <nav class="sub-nav">
      <span class="material-icons">
        search
      </span>
      <span class="material-icons">
        person
      </span>
      <span class="material-icons">
        shopping_basket
      </span>
    </nav>
  </div>
</header>