<div style="width: 180px; padding: 15px; overflow-x: hidden;">
  <div
    style="display: flex; flex-direction: column; overflow: hidden; width: 180px;  height: 240px;  background-image: url(https://d1pk1qje583qaz.cloudfront.net/uploads/product/primary_pic/000/004/396/large_ae5f9d2b-f789-4ded-b2dd-25ff3ce8f6fe.JPG);  background-repeat:no-repeat;  background-position-x:50%;  background-position-y:50%; background-size:contain; background-attachment:scroll;"
  >
    <a style="flex: 1; display: flex; flex-direction: column; overflow: hidden;" href="https://www.instagram.com/p/CMtq0Y3D0n_/" target="_blank">
    </a>
  </div>
  <div style="font-size: 13px; font-weight: normal; margin-top: 8px;">極柔軟高領透膚薄針織</div>
  <div style="font-size: 10px; font-weight: normal;">NT$ 2580</div>
</div>
