<!DOCTYPE html>
<html>
  {% capture head_main %}
    <title>Az</title>
    <meta name="description" content="azazazaz">
    <link rel="canonical" href="http://localhost:3000/">
    <meta property="og:site_name" content="as">
    <meta property="og:title" content="as">
    <meta property="og:description" content="azazazaz">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://localhost:3000/">
    <meta property="og:image" content="xxxx.jpg">
  {% endcapture %}
  {% renderEx "parts/head-layout.liquid", content: head_main %}
  {% capture body_main %}
  <main class="main" role="main">
  </main>
  {% endcapture %}
  {% capture body_extra %}
  {% endcapture %}
  {% renderEx "parts/body-layout.liquid", content: body_main, extra: body_extra %}
</html>