<!DOCTYPE html>
<html class="no-js" lang="zh-TW" ng-app="recipes_index" xmlns="https://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" xmlns:og="https://ogp.me/ns#">
  {% capture head_main %}
    <title>Petit Fleur</title>
    <meta name="description" content="azazazaz">
    <link rel="canonical" href="http://localhost:3000/">
    <meta property="og:site_name" content="as">
    <meta property="og:title" content="as">
    <meta property="og:description" content="azazazaz">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://localhost:3000/">
    <meta property="og:image" content="xxxx.jpg">
  {% endcapture %}
  {% render "parts/head-layout.liquid", content: head_main %}
  {% capture body_main %}
  <main class="main" role="main">
    <section class="section">
      <div class="top-swiper-container">
        <azwc-swiper
          id="swr"
          class="my-slider"
          loop="true"
          speed="500"
        >
          <div class="swiper-slide my-slider__slide home-slide001"></div>
          <div class="swiper-slide my-slider__slide home-slide002"></div>
          <div class="swiper-slide my-slider__slide home-slide003"></div>
          <div class="swiper-slide my-slider__slide home-slide004"></div>
          <div class="swiper-slide my-slider__slide home-slide005"></div>
          <div class="swiper-slide my-slider__slide home-slide006"></div>
          <div class="swiper-slide my-slider__slide home-slide007"></div>
          <div class="swiper-slide my-slider__slide home-slide008"></div>
          <div slot="ui"></div>
        </azwc-swiper>
      </div>
    </section>
    <section class="section">
      <div class="flex-container-v-center">
        <span class="section-title">讓花走入你的生活</span>
        <span class="section-subtitle">Life With Flowers</span>
      </div>
    </section>
    <section class="section-full">
      <div class="flex-container" style="height: 50vw;">
        <div class="image-container home-block-04-01" style="width: 50%;">
          <div class="image-container overlay home-block-04-02" style="width: 100%; height: 100%;"></div>
          <div class="text-mask"></div>
          <div class="float-text1">
            客製花束
          </div>
          <div class="float-text2">
            customization
          </div>
        </div>
        <div class="image-container home-block-01-01" style="width: 50%;">
          <div class="image-container overlay home-block-01-02" style="width: 100%; height: 100%;"></div>
          <div class="text-mask"></div>
          <div class="float-text1">
            花藝課程
          </div>
          <div class="float-text2">
            course
          </div>
        </div>
      </div>
    <!-- </section>
    <section class="section-full"> -->
      <div class="flex-container" style="height: 50vw;">
        <div class="image-container home-block-03-01" style="width: 50%;">
          <div class="image-container overlay home-block-03-02" style="width: 100%; height: 100%;"></div>
          <div class="text-mask"></div>
          <div class="float-text1">
            鮮花
          </div>
          <div class="float-text2">
            flowers
          </div>
        </div>
        <div class="image-container home-block-02-01" style="width: 50%;">
          <div class="image-container overlay home-block-02-02" style="width: 100%; height: 100%;"></div>
          <div class="text-mask"></div>
          <div class="float-text1">
            乾燥花
          </div>
          <div class="float-text2">
            dried flowers
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="flex-container-v-center">
        <span class="section-title">關於小花小草</span>
        <span class="section-subtitle">About Us</span>
        <span class="section-content" style="font-family: 'Noto Sans TC', sans-serif !important;">飛越無數的國家，觀賞的自然風景歷歷在目<br />
走入無數的街頭，暢聊當地或歷史的文化，記憶猶新<br />
如果說要讓陽光、水，或是綠意進入到生活唯一的方式，可能就是做花吧<br />
<br />
讓花走入你的生活<br />
也讓生活的儀式感充滿著花草點綴<br />
自然與生活小細節合而一起，從而療癒到你的內心<br />
<br />
—小花小草主理人Nita
          </span>
      </div>
    </section>
  </main>
  {% endcapture %}
  {% capture body_extra %}
    <script data-html-code="">
      window.__on_azwc_init = function(azwc_classes) {
        console.log('azwc_classes :', azwc_classes);
        var AzwcSwiper = azwc_classes.AzwcSwiper;
        var Swiper = azwc_classes.thirdParty.Swiper;
        AzwcSwiper.componentDidLoad = (inst) => {
          console.log('inst :', inst);
          console.log('inst.host.id :', inst.host.id);
        }
        AzwcSwiper.createSwiper = (inst) => {
          return new Swiper(inst.container, {
            ...AzwcSwiper.getDefaultOptions(inst),
            // effect: 'fade',
            autoplay: {
              delay: 2500,
              disableOnInteraction: false,
            },
            // direction: 'vertical',
            // mousewheel: true,
          }
          );
        }
        var AzwcDialog = azwc_classes.AzwcDialog;
        // var btn = document.querySelector('#open-dialog-btn');
        // btn.addEventListener("click", function () {
        //   console.log('AzwcDialog.open');
        //   console.log('AzwcDialog.allInstances :', AzwcDialog.allInstances);
        //   AzwcDialog.open('d1');
        // }
        // );
        // var Canvi = azwc_classes.thirdParty.Canvi;
        // var t = new Canvi({
        //   // content: ".js-canvi-content",
        //   content: "body",
        //   isDebug: !1,
        //   navbar: ".myCanvasNav",
        //   openButton: ".js-canvi-open-button--left",
        //   position: "left",
        //   pushContent: !1,
        //   speed: "0.2s",
        //   width: "100vw",
        //   responsiveWidths: [{
        //     breakpoint: "600px",
        //     width: "280px"
        //   }
        //     , {
        //     breakpoint: "1280px",
        //     width: "320px"
        //   }
        //     , {
        //     breakpoint: "1600px",
        //     width: "380px"
        //   }
        //   ]
        // }
        // );
        // var canviCloseBtn = document.querySelector('.canvi-user-info__close');
        // console.log('canviCloseBtn :', canviCloseBtn);
        // canviCloseBtn.addEventListener("click", function () {
        //   t.close();
        // }
        // );
      }
    </script>
  {% endcapture %}
  {% render "parts/body-layout.liquid", content: body_main, extra: body_extra %}
</html>